@model Magic.Core.Event
@{
	ViewBag.Title = "EditEvent";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{//Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
}

<h2>EditEvent</h2>

@using (Html.BeginForm("EditEvent", "Magic", FormMethod.Get))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<h4>Event</h4>
		<h2>@Model.name</h2>
		<fieldset>
			<text>Name </text> @Html.TextBoxFor(n => Model.name)<br/>
			<text>Current Round </text> @Html.DropDownList("CurrentRound")<br/>
			<text>Round Matches </text> @Html.DropDownList("RoundMatches")<br />
			<text>Total Matches </text> @Model.TotalMatches(0)<br />
			<text>Matches Played</text> @Model.TotalMatchesPlayed(0) <br/>
			<text>Start Date: </text><input type="date" name="startdate" value="@Model.EventStartDate.ToString("yyyy-MM-dd")" /> <br/>
			<text>Round End Date: </text><input type="date" name="roundenddate" value ="@Model.RoundEndDate.ToString("yyyy-MM-dd")" /> <br/> 
			<input type="submit" value="Save" class="btn btn-default" />

		</fieldset>
	</div>
}
	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
