@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int round = ViewBag.Round;
    List<Magic.Core.Player> players = ViewBag.Players;
    string eventName = ViewBag.eventName;
}

<h2>Players - @eventName - Round @round</h2>

<table border="1" class="matchTable">
    @foreach (Magic.Core.Player p in players)
    {
        <tr class="keyplayer">
            <td>@string.Format("{0}", p.name)</td>
            @foreach (Magic.Core.Match m in p.matches.Where(m => m.Round == round))
            {
                var normalizedMatch = m.WithPlayerOneAs(p.name);
                var matchWin = m.Player1Wins > m.Player2Wins ? "Win" : "Loss";
                var matchUrl = String.Format(@"/{0}/{1}/{2}/{3}/", eventName, round, m.Player1Name, m.Player2Name);
                
                <td class="opponentplayer"><a href="@matchUrl">@m.Player2.name</a></td><td><text>@m.Player1Wins</text>-<text>@m.Player2Wins</text></td><td>@matchWin</td>
            }
        </tr>
    }
</table>