@model Magic.Core.Event

@{
    ViewBag.Title = "ListPlayers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListPlayers</h2>

<p>
    <!--@Html.ActionLink("Create New", "AddPlayer", new { eventName = Model.name, playerName = Guid.NewGuid().ToString().Substring(0,10) })
			-->

		@using (Html.BeginForm("AddPlayer", "Magic", FormMethod.Get))
		{
			<text>Name </text> 
			<input type="text" name="playerName" value="" />
			<input type="hidden" name="eventName" value="@Model.name" />
			<input type="submit" value="Save" class="btn btn-default" />

		}
</p>
<table class="table">
    <tr>
        <th>Player Name</th>
				<th>Actions</th>
    </tr>

@foreach (var item in Model.Players)
{
    <tr>
        <td><text>@item.name</text></td>
			<td>@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</td>
    </tr>
}
</table>

@Html.ActionLink("Back to Events", "ViewEvents")
