@model Magic.Domain.Match

@{
    ViewBag.Title = "MagicMatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MagicMatch</h2>


@using (Html.BeginForm("Details", "Magic", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Match</h4>
        <h2>@ViewBag.Match.Player1Name vs @ViewBag.Match.Player2Name</h2>
        <fieldset>
            <text>@ViewBag.Match.Player1Name @ViewBag.Match.Player1Wins</text> @Html.DropDownList("player1wins")<br/>
            <text>@ViewBag.Match.Player2Name @ViewBag.Match.Player2Wins</text> @Html.DropDownList("player2wins")<br/>
						<text>Draws @ViewBag.Match.Draws</text> @Html.DropDownList("draws")

	        <hr/>
					@Html.ValidationMessage("CustomError")
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>