@model IEnumerable<Magic.Domain.dbPlayerPrize>

@{ 

	var eventName = ViewBag.EventName;
	var round = ViewBag.Round;
		}

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@eventName - @round</title>
</head>

<body>
    <div> 
			@foreach (var prize in Model)
			{
				<p>
					<text>@prize.Position</text>
					<text>@prize.Player</text>
					<text>@prize.Packs</text>
				</p>
			}
			
			@Html.ActionLink("AssignPrizesConfirmation", "AssignPrizesConfirmation", new { controller = "Magic", action = "AssignPrizesConfirmation", prizeAssignmentTag = ViewBag.prizeAssignmentTag })
    </div>
</body>
</html>
