@model Magic.Domain.Event

@{
	ViewBag.Title = "ListPlayers";
	Layout = "~/Views/Shared/_Layout.cshtml";

	List<Magic.Domain.Player> playerNameListAsList = ViewBag.AllPlayers;
}

<datalist id="players">
	@foreach (Magic.Domain.Player player in ViewBag.AllPlayers)
	{
		<option value="@player.Name" />
	}
</datalist>

<h2>ListPlayers</h2>

<datalist id="PlayerNames">
	@foreach (Magic.Domain.Player player in playerNameListAsList)
	{
		<option value="@player.Name" />
	}
</datalist>

<p>
		@using (Html.BeginForm("AddPlayer", "Magic", FormMethod.Get))
		{
			<text>Name </text> 
			<input type="text" name="playerName" value="" list = "PlayerNames"/>
			<input type="hidden" name="eventName" value="@Model.name" />
			<input type="submit" value="Save" class="btn btn-default" />

		}
</p>
<table class="table">
    <tr>
        <th>Player Name</th>
				<th>Dropped?</th>
				<th>Actions</th>
    </tr>



@foreach (var item in Model.Players)
{
    <tr>
        <td><text>@item.Name</text></td>
			<td>@(item.HasDropped() ? "Yes": "No") </td>
			<td>@Html.ActionLink("Drop", "Drop", new { playerID=item.ID, eventName = Model.name, drop=(!item.HasDropped()) })
					
    </tr>
}
</table>

@Html.ActionLink("Back to Events", "ViewEvents")
