@model Magic.Domain.Event

@{
    ViewBag.Title = "PreviewPairings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PreviewPairings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (Magic.Domain.Player player in Model.Players) {
	var relevantMatches = player.Matches.Where(m => m.Round == Model.CurrentRound).Select(m=>m.WithPlayerOneAs(player.ID));
    <tr>
        <td>
					@player.Name (@player.Score(0)) <text>vs</text>
					@foreach(Magic.Domain.Match match in relevantMatches)
					{
						<td>@match.Player2Name <text>( @match.Player2.Score(0) )</text></td>
					}
				</td>
    </tr>
}
</table>

@Html.ActionLink("Save", "SaveMatches", new { controller = "Magic", action = "SaveMatches"})