@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Other<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>@Html.ActionLink("Event Archive", "EventArchiveList", new { controller = "Magic", action = "EventArchiveList" })</li>
					<li>@Html.ActionLink("PlayerStats", "PlayerStats", new { controller = "Magic", action = "PlayerStats", playerID = 0 })</li>
				</ul>
			</li>
			@if (User.IsInRole("Admin"))
			{
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>@Html.ActionLink("ViewEvents", "ViewEvents", new { controller = "Magic", action = "ViewEvents" })</li>
						<li>@Html.ActionLink("RolesAdmin", "Index", new { controller = "RolesAdmin", action = "Index" })</li>
						<li>@Html.ActionLink("UsersAdmin", "Index", new { controller = "UsersAdmin", action = "Index" })</li>
					</ul>
				</li>
			}
			<li>
				@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
